<!DOCTYPE html>
<html>
<head>
  <title>PeriodicTable</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		 <%= render :partial => "/shared/header" %>
	</header>
	<nav class="group">
		<%= render :partial => "/shared/navigation" %>	
	</nav>
		<%= yield %>
</body>
</html>
